@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    --body-color:#0C9476;
    --text:#42FFD6;
    --darker-text:#24E0B6;
    --dark-sec:#24BDE3;
    --light-sec:#42D9FF;
}
body{
    background-color: var(--body-color);
    color: var(--text);
    font-size: large;

    height:100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
p{
    font-size: 30px;
    margin-bottom: -1rem;
}
a{
    text-decoration: none;
    color:var(--light-sec);
    font-weight: bold;
    margin: 1%;
}
a:hover, a:focus{
    color:var(--dark-sec);
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
button{
    padding: 1rem;
    margin: 1rem;
    border: 2px solid var(--darker-text);
    border-radius: 10px;
    background: none;

    width: 7rem;
    color: var(--text);
    font-size: medium;
    font-family: 'Roboto', sans-serif;

    outline: none;

    cursor: pointer;
}
button:hover, button:focus{
    color:var(--light-sec);
    border: 2px solid var(--dark-sec);
}
.center{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4rem;
    height: auto;
    border: 15px solid var(--darker-text);
    border-radius: 30px;
}
.num{
    font-size: 7rem;
    margin: 0 0 5rem 0;
}