<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impressum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header><a href="/">back</a></header>
    <div class="center">
        <div class="box">
            <h1>DE:</h1>
            <p>Name: <strong>Simon Felix Seeger</strong></p>
            <p>Anschrift: <strong>Schneeglöckchenstr. 107a 80995 München</strong></p>
            <p>Kontakt: <strong>simon.f.seeger@gmx.de</strong></p>
            <h1>EN:</h1>
            <p>Name: <strong>Simon Felix Seeger</strong></p>
            <p>Adress: <strong>Schneeglöckchenstr. 107a 80995 München</strong></p>
            <p>Contact: <strong>simon.f.seeger@gmx.de</strong></p>
        </div>
    </div>
</body>
</html>